h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210301040–04 - Proyectar las herramientas, normas y estrategias que permitan al prestador de servicios turísticos, legalmente constituido, su actualización permanente y cumplimiento de las normas vigentes.  



