h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Identificar la importancia de la normatividad vigente relacionada con procesos de regulación y legalización existentes en el país para los prestadores de servicios turísticos.




