.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Buenas prácticas:
            | es la actividad o proceso que se realiza de una manera adecuada y en busca de un objetivo. 
        
        p
            strong.mr-2 Cooperación:
            | ayuda mutua entre dos entidades o países para un bien común. 
        p 
            strong.mr-2 Corredores turísticos:
            | son vías de conexión que hay entre varios puntos en un sector turístico.

        p
            strong.mr-2 Decreto:
            | resolución o decisión que toman los gobiernos para modificar una ley.
        p 
            strong.mr-2 Fontur:
            | grupo encargado de velar por la protección de los turistas y bienes de interés cultural de un destino.

        p 
            strong.mr-2 Ley:
            | regla establecida por las entidades legislativas superiores para regular o controlar algo.

        p 
            strong.mr-2 Marketing:
            | es el estudio de estudios y técnicas que tienen como objetivo final mejorar la comercialización de un producto.


        p 
            strong.mr-2 Normatividad:
            | es el conjunto de leyes que nos ayudan a regir conductas y lineamientos de una institución o lineamiento.

        p 
            strong.mr-2 Promoción:
            | campaña publicitaria que se le realiza a una persona o comercio.                                               