

.container
    .header-ecored
        h1 Introducción        
.container
    .row.my-5
        .col
            .jumbotron.bg-white

                .embed-responsive.embed-responsive-16by9.mt-5
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ZcYijpvgo58', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                
                p.mt-5 En este cuarto módulo se estudiará todo lo relacionado con: promoción, mercadeo, marketing, cooperación turística internacional y programas de promoción turística. El objetivo es ayudar a posicionar, dar a conocer o generar un impacto positivo de un destino turístico, gracias a la implementación de estrategias o herramientas incluidas en este material.

                hr.bd-hr-orange