.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody
                tr
                    td
                        strong Base para liquidar la contribución parafiscal
                    td Documento
                    td 
                        a(href="media/documentos/MC_AA4_Base_para_liquidar_la_contribucion_parafiscal.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr                    

                    td
                        strong Decreto 505 de 1997
                    td Documento
                    td 
                        a(href="media/documentos/MC_AA4_Decreto_505_de_1997.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                        
                tr                    

                    td
                        strong Decreto 1336 de 2002
                    td Documento
                    td 
                        a(href="media/documentos/MC_AA4_Decreto_1336_de_2002.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td
                        strong Decreto 1824 de 2001
                    td Documento
                    td 
                        a(href="media/documentos/MC_AA4_Decreto_1824_de_2001.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr                    

                    td
                        strong Hoja de ruta cooperación internacional 2015-2018
                    td Documento
                    td 
                        a(href="media/documentos/MC_AA4_Hoja_de_ruta_Cooperacion_internacional_2015_2018.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                        
                tr                    

                    td
                        strong Ley 300 de 1996 
                    td Documento
                    td 
                        a(href="media/documentos/MC_AA4_Ley_300_de_1996.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr                    

                    td
                        strong Manual acceso a la cooperación internacional APC Colombia
                    td Documento
                    td 
                        a(href="media/documentos/MC_AA4_Manual_Acceso_a_la_Cooperacion_Internacional_APC_Colombia.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                                                