.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                th.text-center Enlace del Recurso o Archivo del documento o material 

        tbody
            tr
                td
                    strong Guía general de aplicación por primera vez del marco técnico normativo de información financiera para microempresas
                td Documento
                td 
                    a(href="http://www.comunidadcontable.com/BancoMedios/Documentos%20PDF/guia%20implementaci%C3%B3n%20por%20primera%20vez%20microempresas%202.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr                    

                td
                    strong Glosario NIIF
                td Documento
                td 
                    a(href="http://www.comunidadcontable.com/BancoConocimiento/NIIF/glosario-niif.asp", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar