include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
    
        +referenciaItem("Fondo Nacional de Turismo-Fontur. (Sin fecha a). Contribución parafiscal.", "https://fontur.com.co/productos-y-servicios/que-es-contrubucion-parafiscal-tipos-de-aportamtes-base-liquidacion/49 ")

        +referenciaItem("Decreto 210 de 2003. Por el cual se determinan los objetivos y la estructura orgánica del Ministerio de Comercio, Industria y Turismo, y se dictan otras disposiciones. Febrero 3 de 2003. DO. No. 45.086", "")

        +referenciaItem("Fondo Nacional de Turismo-Fontur. (Sin fecha b). Marco legal.", "https://fontur.com.co/corporativo/marco-legal/12 ")

        +referenciaItem("Fondo Nacional de Turismo-Fontur. (Sin fecha c). Funciones. ", "https://fontur.com.co/corporativo/funciones/11#:~:targetText=Recaudar%2C%20administrar%20y%20ejecutar %20los,recursos%20de%20la%20contribuci%C3%B3n%20parafiscal")

        +referenciaItem("Ley 1101 de 2006. Por la cual se modifica la Ley 300 de 1996 - Ley General de Turismo y se dictan otras disposiciones. Noviembre 22 de 2006. DO. N° 46461. 23.", "")

        +referenciaItem("Ministerio de Comercio, Industria y Turismo. (Sin fecha b). Cooperación internacional/Becas.", "http://www.mincit.gov.co/ministerio/planeacion/cooperacion-internacional-becas")

        +referenciaItem("Ministerio de Comercio, Industria y Turismo. (Sin fecha a). Buenas prácticas.", "http://www.mincit.gov.co/ministerio/planeacion/cooperacion-internacional-becas/buenas-practicas")

        +referenciaItem("Ministerio de Comercio, Industria y Turismo. (Sin fecha c). Instrumentos de cooperación internacional.", "http://www.mincit.gov.co/ministerio/planeacion/cooperacion-internacional-becas/historico/4-instrumentos-de-cooperacion-internacional")

        +referenciaItem("Ministerio de Comercio, Industria y Turismo. (Sin fecha d). Modalidades de cooperación internacional.", "http://www.mincit.gov.co/ministerio/planeacion/cooperacion-internacional-becas/modalidades-de-cooperacion-internacional")

        +referenciaItem("Ministerio de Comercio, Industria y Turismo. (Sin fecha e). Normatividad.", "http://www.mincit.gov.co/ministerio/planeacion/cooperacion-internacional-becas/normatividad")        
        
                                                                
